::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.loginDiv {
    margin: 20vh auto;
    width: 500px;
    border-radius: 20px;
}

.logoHolder {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-top: -90px;
}

input.loginField {

    border: none;
    border-radius: 50px;
    background-color: #F2F2F2;
    border-color: #b1b1b1;
    width: 80%;
}

.titleHeader{
    color: #FE0000;
    text-align: center;
}

.loginbtn {
    background-color: #F91212;
    border: none;
    border-radius: 20px;

}

.header{
    height: 100px;
}

.pageLogo {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.logout {
    color: #F91212;
}

.accounting-profile-wrap {
    height: 170px;
}

.user-list-wrap {
    height: 350px;
}

.sectionLabel {
    font-size: 14px;
    color: #F91212;
}

.profile-info {
    border-radius: 15px;
}

.userList-info{
    border-radius: 15px;
    max-height: 330px;
    min-height: 330px;
}

.profile-action {
    height: 18px;
    width: 70px;
}

.profile-act {
    height: 15px;
    width: 15px;
}

.id-display {
    color: #FF8D8D;
}

.name-display {
    color: #4F4F4F;
    font-size: 16px;
}
.email-display {
    color: #787878;
    font-size: 14px;
}
.modal-body-label {
    color: #F91212;
}

.user_type {
    border-radius: 15px;
    width: 50px;
}

.logout {
    text-decoration: none;
}

.label-modal{
    font-size: 12px;
    font-weight: 600;
}

.modalField {
    border-radius: 10px;
    font-size: 14px;
    background-color: #F2F2F2;
    border-color: #b1b1b1;
    border: none;
}

.modal-dropdown {
    border-radius: 10px;
    font-size: 14px;
    background-color: #F2F2F2;
    border-color: #b1b1b1;
    border: none;
}

.cancelModal {
    border: none;
    background-color: #fff;
    margin: 10px;
}

.confirmModal {
    padding: 10px 15px;
    background-color: #F91212;
    color: #fff;
    border-radius: 500px;
    border: none;
}

.user-wrap {
    max-height: 248px;
    overflow-y: auto;
}

.borderIni {
    border-bottom: 0.7px solid #ffe6e6;
}

.userData-name {
    color: #4F4F4F;
}

.userData-userType {
    color: #FF8D8D;
    font-size: 10px;
}

.sessionPassChange {
    border: none;
    border-radius: 100px;
    background-color: #F91212;
    color: #fff;
    font-size: 12px;
}

.redStatus {
    background-color: #ff003c;
}

.greenStatus {
    background-color: #00ff3c;
}