<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <title>Acctng-Homepage</title>
</head>
<body class="container">
<div class="header py-3 w-100 d-flex justify-content-between align-items-center">
    <div class="pageLogo p-1 shadow">
        <img th:src="@{/images/alliance_logo.svg}" class="img-fluid mx-auto">
    </div>
    <a class="logout" th:href="@{/user/logout}"><p class="fs-6 fw-bold logout">Logout</p></a>
</div>
<section class="row mt-4">
    <div class="col-4">
        <div class="accounting-profile-wrap">
            <p class="sectionLabel fw-bold mb-2">Profile</p>
            <div class="profile-info bg-white shadow">
                <div class="profile-header px-4 pt-3 pb-1 d-flex justify-content-between align-items-center">
                    <p class="id-display " th:text="${'acctng-' + session.User.id}"></p>
                    <div class="profile-action d-flex justify-content-between align-items-center">
                        <img class="profile-act" id="editSessionUser" data-toggle="modal"
                             data-target="#editSessionUserModal" th:src="@{/images/edit.svg}" alt="">
                        <img class="profile-act" id="deleteSessionUser" th:src="@{/images/delete.svg}" alt="">
                    </div>
                </div>
                <div class="profile-body px-4 pb-2">
                    <p class="name-display fw-bold mb-0"
                       th:text="${session.User.firstName +' '+session.User.lastName}"></p>
                    <p class="email-display fw-light" th:text="${session.User.email}"></p>
                </div>
            </div>
        </div>
        <div class="user-list-wrap mt-4 pt-2">
            <div class="d-flex justify-content-between mb-2">
                <p class="sectionLabel fw-bold mb-0">User list</p>
                <img class="profile-act me-4" th:src="@{/images/add.svg}" alt="">
            </div>
            <div class="userList-info bg-white px-4 py-2 shadow">
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <input type="text" placeholder="Search name" class="loginField px-3 py-1 w-75 me-2">
                    <select id="user_type" class="user_type w-25 ms-2 px-2 py-1">
                        <option value="all">All</option>
                        <option value="sales">Sales</option>
                        <option value="tech">Tech</option>
                        <option value="accounting">Accounting</option>
                    </select>
                </div>
                <div>
                    <ul>
                        <li th:each = "user : ${listOfUsers}"><p th:text="${user.firstName}"></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">

    </div>
    <!-- Modal edit user triggered by editSessionUser-->
    <div class="modal fade center" id="editSessionUserModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Edit your profile</h6>
                </div>
                <div class="modal-body">
                    <div class="mx-3">
                        <p class="mb-2 modal-body-label">Edit name</p>
                        <div class="mb-2 d-flex justify-content-between align-items-center">
                            <div class="me-1">
                                <label for="fNameInput" class="ps-2 m-0 label-modal text-muted">First name</label>
                                <input id="fNameInput" class="modalField px-3 py-1 w-100" type="text" placeholder="John" th:name="firstName"/>
                            </div>
                            <div class="ms-1">
                                <label for="fNameInput" class="ps-2 m-0 label-modal text-muted">Last name</label>
                                <input id="lNameInput"class="modalField px-3 py-1 w-100" type="text" placeholder="Doe" th:name="lastName"/>
                            </div>
                        </div>
                        <hr class="my-4">
                        <p class="mb-2 modal-body-label">Change password</p>

                        <label for="currentPass" class="ps-2 m-0 label-modal text-muted">Current password</label>
                        <input id="currentPass" class="modalField px-3 py-1 w-100" type="text" placeholder="Your current password" th:name="currentPass"/>

                        <label for="newPass" class="ps-2 mt-3 mb-0 label-modal text-muted">New password</label>
                        <input id="newPass" class="modalField px-3 py-1 w-100 mb-1" type="password" placeholder="New password" th:name="newPass"/>

                        <label for="confirmPass" class="ps-2 m-0 label-modal text-muted">Confirm password</label>
                        <input id="confirmPass" class="modalField px-3 py-1 w-100" type="password" placeholder="Confirm password" th:name="confirmPass"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="cancelModal" data-dismiss="modal">Cancel</button>
                    <button id="deleteSchedule" class="confirmModal">Continue</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">

</script>
</html>