<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Employee-Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
    <body class="container">
    <div class="header py-3 w-100 d-flex justify-content-between align-items-center">
        <div class="pageLogo p-1 shadow">
            <img th:src="@{/images/alliance_logo.svg}" class="img-fluid mx-auto">
        </div>
        <a class="logout" th:href="@{/user/logout}"><p class="fs-6 fw-bold logout">Logout</p></a>
    </div>
    <section class="mt-6">
        <div class="">
            <div class="employee-wrap">
                <div class="employee-info bg-white shadow">
                    <div class="profile-header px-4 pt-3 pb-1 d-flex justify-content-between align-items-left">
                        <p class="id-display ">Hello</p>
                        <div class="profile-action d-flex justify-content-between align-items-right">
                           <p>Today is Saturday</p>
                        </div>
                    </div>
                    <div class="profile-body px-4 pb-2">
                        <p class="name-display fw-bold mb-0" th:text="${session.User.firstName +' '+session.User.lastName}"></p>
                        <p class="email-display fw-light" th:text="${session.User.email}"></p>
                    </div>
                    <div class="button px-4 pb-3">
                        <button id="editSessionUserName" class="button-click" data-toggle="modal"
                                data-target="#editSessionUserNameModal">Edit Information</button>
                        <button id="editSessionUserPassword" class="button-click" data-toggle="modal"
                                data-target="#editSessionUserPasswordModal">Change password</button>
                        <button id="deleteUser" class="button-click" data-toggle="modal"
                                data-target="#deleteUserModal">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list-wrap mt-1 pt-4">
            <div class="d-flex justify-content-between mb-1">
                <p class="sectionLabel fw-bold mb-0">Submit a Claim</p>
            </div>
            <div class="userList-info bg-white px-4 py-2 shadow">
                <div class="d-flex justify-content-between align-items-center mt-2">
                        <p>
                            <label>Claim Code</label>
                            <input type="text" class="css-input" placeholder="enter-code" /> <br>
                            <label>Subject</label>
                            <input type="text" class="css-input" placeholder="subject" /><br>
                            <label>File Attachments</label>
                            <input type="text" class="css-input" placeholder="file-attachments" />
                        </p>

                </div>

            </div>
        </div>
        <div class="col-8">

        </div>
        <!-- Modal edit user name triggered by editSessionUserName-->
        <div class="modal fade center" id="editSessionUserNameModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Edit your name</h6>
                    </div>
                    <div class="modal-body">
                        <div class="mx-3">
                            <p class="mb-2 modal-body-label">Edit name</p>
                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                <div class="me-1">
                                    <label for="fNameInput" class="ps-2 m-0 label-modal text-muted">First name</label>
                                    <input id="fNameInput" class="modalField px-3 py-1 w-100" type="text" placeholder="John" th:value="${session.User.firstName}" th:name="firstName"/>
                                </div>
                                <div class="ms-1">
                                    <label for="fNameInput" class="ps-2 m-0 label-modal text-muted">Last name</label>
                                    <input id="lNameInput"class="modalField px-3 py-1 w-100" type="text" placeholder="Doe" th:value="${session.User.lastName}" th:name="lastName"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="cancelModal" data-dismiss="modal">Cancel</button>
                        <button id="editProfileNameButton" class="confirmModal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade center" id="editSessionUserPasswordModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Edit your passowrd</h6>
                    </div>
                    <div class="modal-body">
                        <div class="mx-3">
                            <p class="mb-2 modal-body-label">Change password</p>

                            <label for="currentPass" class="ps-2 m-0 label-modal text-muted">Current password</label>
                            <input id="currentPass" class="modalField px-3 py-1 w-100" type="text" placeholder="Your current password" th:name="currentPass"/>

                            <label for="newPass" class="ps-2 mt-3 mb-0 label-modal text-muted">New password</label>
                            <input id="newPass" class="modalField px-3 py-1 w-100 mb-1" type="password" placeholder="New password" th:name="newPass"/>

                            <label for="confirmPass" class="ps-2 m-0 label-modal text-muted">Confirm password</label>
                            <input id="confirmPass" class="modalField px-3 py-1 w-100" type="password" placeholder="Confirm password" th:name="confirmPass"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="cancelModal" data-dismiss="modal">Cancel</button>
                        <button id="editProfilePasswordButton" class="confirmModal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade center" id="deleteSessionUserModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Delete your profile</h6>
                    </div>
                    <div class="modal-body">
                        <p class="mb-2 modal-body-label text-center my-2">Are you sure you want to delete your account?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="cancelModal" data-dismiss="modal">Cancel</button>
                        <button id="deleteProfileButton" class="confirmModal">Continue</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal delete other user triggered  #deleteUser -->
        <div class="modal fade center" id="deleteUserModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Delete selected user</h6>
                    </div>
                    <div class="modal-body">
                        <p class="mb-2 modal-body-label text-center my-2">Are you sure you want to delete selected user?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="cancelModal" data-dismiss="modal">Cancel</button>
                        <button id="deleteUserButton" class="confirmModal">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript">
var sessionID = $('.id-display').html().replace("acctng-", "");
var sessionEmail = $('.email-display').html();
var selectedUser;

<!-- Getting selected user id -->
    $('.deleteUser').click(function(){
        selectedUser = $(this).attr('userid');
    });


<!-- Deleting session user action -->
    $("#deleteProfileButton").click(function(){
        $.ajax({
          url: "/user/deleteSessionUser",
          type: "POST",
          data:{
            id: sessionID
            },
          success: function(data)
          {
            window.location = '/user/login';
          }
       });
    });

<!-- Deleting user action-->
    $("#deleteUserButton").click(function(){
        $.ajax({
          url: "/user/deleteSessionUser",
          type: "POST",
          data:{
            id: selectedUser
            },
          success: function(data)
          {
            location.reload();
          }
       });
    });

 <!-- Editing session user first and last name action -->
    $('#editProfileNameButton').click(function(){
        var fNameEdit = $('#fNameInput').val();
        var lNameEdit = $('#lNameInput').val();
        $.ajax({
          url: "/user/editSessionName",
          type: "POST",
          data:{
            id: sessionID,
            firstName: fNameEdit,
            lastName: lNameEdit
            },
          success: function(data)
          {
            location.reload();
          }
       });
    });

 <!-- Editing password user first and last name action -->
    $('#editProfilePasswordButton').click(function(){
        var curPassEdit = $('#currentPass').val();
        var newPassEdit = $('#newPass').val();
        var conPassEdit = $('#confirmPass').val();


        if(curPassEdit != null){
            if(newPassEdit == conPassEdit && newPassEdit != ""){
                $.ajax({
                    url: "/user/validateSessionUserPassword",
                    type: "POST",
                    data: {
                        id: sessionID,
                        password: curPassEdit
                    },
                    success: function(data){
                        if(data == "true"){
                             $.ajax({
                                url: "/user/editSessionUserPassword",
                                type: "POST",
                                data: {
                                    id: sessionID,
                                    password: newPassEdit
                                },
                                success: function(data){
                                    if(data != null){
                                        alert("Password changed. You are prompted to login again after this.");
                                        window.location = '/user/login';
                                    }
                                }
                            })
                        } else {
                            alert("Wrong input on current password!");
                        }
                    }
                })
            } else {
                alert("Password does not match");
            }
        } else {
            alert("Wrong input on current password!1");
        }
    });

 <!-- *** FILTER USER LIST *** -->
 <!-- Search input listener -->
    $("#searchUserField").keyup(function(){
        var searchInput = $(this).val().toUpperCase();
        var searchUserType = $('#user_type_search').find(':selected').val();
        var valueName, valueEmail, parent ,valueUserType;

        $('.borderIni').each(function(indexparent){
            $(".userData-name").each(function(indexName){
                if(indexparent === indexName){
                    valueName = $(this).text().toUpperCase();
                    parent = $(this).parent().parent().parent();
                }
            });

            $(".userData-email").each(function(indexEmail){
                if(indexparent === indexEmail){
                    valueEmail = $(this).text().toUpperCase();
                    parent = $(this).parent().parent().parent();
                }
            });

            $(".userData-userType").each(function(indexUserType){
                if(indexparent === indexUserType){
                    valueUserType = $(this).text();
                    parent = $(this).parent().parent().parent();
                }
            });

            if(((valueName.indexOf(searchInput) > -1 || valueEmail.indexOf(searchInput) > -1) || searchInput == '') && (valueUserType === searchUserType || searchUserType == "All")){
                parent.show();
            } else {
                parent.hide();
            }
        });
    });

 <!-- User type listener -->
    $('#user_type_search').change(function(){
        var searchInput = $('#searchUserField').val().toUpperCase();
        var searchUserType = $(this).find(':selected').val();
        var valueName, valueEmail, parent ,valueUserType;

        $('.borderIni').each(function(indexparent){
            $(".userData-name").each(function(indexName){
                if(indexparent === indexName){
                    valueName = $(this).text().toUpperCase();
                    parent = $(this).parent().parent().parent();
                }
            });

            $(".userData-email").each(function(indexEmail){
                if(indexparent === indexEmail){
                    valueEmail = $(this).text().toUpperCase();
                    parent = $(this).parent().parent().parent();
                }
            });

            $(".userData-userType").each(function(indexUserType){
                if(indexparent === indexUserType){
                    valueUserType = $(this).text();
                    parent = $(this).parent().parent().parent();
                }
            });

            if(((valueName.indexOf(searchInput) > -1 || valueEmail.indexOf(searchInput) > -1) || searchInput == '') && (valueUserType === searchUserType || searchUserType == "All")){
                parent.show();
            } else {
                parent.hide();
            }
        });
    });
</script>
</html>