<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/user/}" method="post">
        <input type="text" placeholder="First name" th:name="firstName">
        <input type="text" placeholder="Last name" th:name="lastName">
        <input type="email" placeholder="Email" th:name="email">
        <input type="password" placeholder="Password" th:name="password">
        <input type="text" placeholder="User type" th:name="usertype">

        <input type="submit" value="Register">
    </form>
</body>
</html>